@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    font-family: 'Press Start 2P', cursive;
    background: #010101; 
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: white;
}
.wrapper {
    width: 90%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    overflow: hidden;
}

.title {
    font-size: 3em;
    margin-bottom: 2em;
    text-align: center;
}

.about {
    margin: 3em 0;
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5em;
    width: 100%;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    width: 100%;
    max-width: 500px;
    transition: .25s ease-in-out border;
}

.game a{
    max-width: 95%
}

.game .game-title {
    text-align: center;
}

.game .game-img {
    max-width: 425px;
}

.game-window {
    position: absolute;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}

.controls-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.game-container {
    box-sizing: content-box;
}
.controls {
    list-style: none;
    margin: 1em 0;
}
.controls-item {
    margin-bottom: .5em;
}

.score {
    font-size: 1.25em;
    text-align: center;
    line-height: 1.5;
    margin: 0 1em;
}

#back {
    border-bottom: 2px solid transparent;
}

#back:hover {
    border-bottom: 2px solid white;
}

#pong-container {
    display: flex;
}

#window-background {
    position: absolute;
    order: -2;
    z-index: -5;
}

@media (min-width: 800px) {
    .hide-sm {
        display: none;
    }
}
@media (max-width: 800px) {
    #pong-container {
        display: none;
    }
    .game .game-img {
        max-width: 300px;
    }
}