@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    font-family: 'Press Start 2P', cursive;
    background: #020202;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: white;
}
.wrapper {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    overflow: hidden;
}

.title {
    font-size: 3em;
    margin-bottom: 1em;
}

.about {
    margin: 2em 0;
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5em;
    width: 100%;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.game a{
    max-width: 95%
}

.game .game-title {
    text-align: center;
}

.game .game-img {
    max-width: 450px;
}

.game-window {
    position: absolute;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 90vh;
    width: 100%;
}

.controls-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.game-container {
    box-sizing: content-box;
}
.controls {
    list-style: none;
    margin: 1em 0;
}
.controls-item {
    margin-bottom: .5em;
}

.score {
    font-size: 1.25em;
    text-align: center;
    line-height: 1.5;
    margin: 0 1em;
}

#pong-container {
    display: flex;
}

#window-background {
    position: absolute;
    order: -2;
    z-index: -5;
}
